<div id="kpi-controls" class="form-inline">
    <div class="form-group" ng-repeat="control in controlsData">
        <label for="{{control.name}}">{{control.name}}</label>
        <input type="text" class="form-control" name="{{control.name}}" ng-if="control.type=='text'" ng-model='kpiQueryParams[control.name]'>
        <select class="form-control" ng-if="control.type=='dropdown'">
            <option value="option.value" ng-repeat='option in control.options'>option.label</option>
        </select>
        <button ng-click="queryKpi()" class='btn btn-info'>Submit</button>
    </div>
</div>