<div id="kpi-charts" class="form">
<!--     <button ng-click="queryKpi()" class='btn btn-info query-btn' ng-if="controlsData.length > 0">Query</button>
    <div class="form-group col-sm-4" ng-repeat="control in controlsData">
        <label for="{{control.name}}">{{control.name}}</label>
        <input type="text" class="form-control" name="{{control.name}}" ng-if="control.type=='text'" ng-model='kpiQueryParams[control.name]'>
        <select class="form-control" ng-if="control.type=='dropdown'" ng-model='kpiQueryParams[control.name]'>
            <option value="{{value}}" ng-repeat='(label, value) in control.options'>{{label}}</option>
        </select>
    </div>
    <div class="clearfix"></div> -->
    {{kpiViewsData}}
</div>